
html {
  height: 100%;
  width: 100%
}

body {
  min-height: 100%;
  background-color: #FFF;
  font-size: 5vh;

  display: grid;
  grid-template-rows: 1.5em 2em 4em 3em 1fr 3.5em;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
  grid-template-areas:
  "name surname"
  "title current-job"
  "previous previous-job"
  "say-hello contacts"
  "empty empty"
  "status time";
}

header, footer, div {
  /* background: gold; */
  }

/* Text Styles */
.prim {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 5vh;
  line-height: 100%;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}
.right {
  text-align: right;
}
.sec {
  font-family: Times New Roman;
  font-style: italic;
  font-weight: normal;
  font-size: 5.1vh;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: left;
}

/* Blocks */
#empty {
  grid-area: empty;
}


/* Styling */
#dot {
  border-radius: 50%;
  width: 40vh;
  height: 40vh;
  background: red;
  margin: auto;
  margin-top: 0;
  margin-bottom: 5px;
  margin-top: 10px;
  display: block;
  position: absolute;
  left: 50%;
  bottom: -1%;
  /* bottom: -25%; */
  transform: translate(-50%, 0%);
  z-index: -1;
}

a {
  color: #000000;
  text-decoration: none;
}

/* Animations */
a:hover {
  text-decoration: underline;
}
